.field{
    position: absolute;
    z-index: 1;
}

.row{
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-auto-rows: 100px;
    gap: 2px;
}

.colum{
    display: grid;
    gap: 2px;
}

.button{
    width: 100%;
    height: 100%;
}

.selected{
    background-color:aquamarine;
}

.Movable{
    background-color: burlywood;
}

.result{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: beige;
    padding:20%;
    text-align: center;
}